---
layout: page
title:  Single View
categories: attributes
type: view
---

<img src = "{{site.baseurl}}/assets/Single View.png" width="200" align = "left">
<br><br>

<p align="left">We characterize a view as a set of one or multiple aligned tracks,
with at most one two-axis track. In a single view, we cannot visualize
multiple scales and foci.</p>

<br><br><br>

{% for post in site.tools %}
  {% if post.view == "single" %}
    <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
