<div id="sort">
  <div class="button"><a href="#">Done</a></div>
  <label for="byName"><input type="radio" id="byName" name="sort" checked/> Sort by name</label>
  <label for="byYear"><input type="radio" id="byYear" name="sort"/> Sort by year (most recent)</label>
  <label for="byCitation"><input type="radio" id="byCitation" name = "sort"/> Sort by citation count</label>
</div>
<div id="filter">
  <div class="button" onclick="clearFilters()">Clear all</div><div class="button"><a href="#">Done</a></div>
  <div class="grid">
    <section>
      <h2 onClick="openSection('user_pref', this)">User Preferences</h2>
        <div id="user_pref">
        <h3>Usage Format</h3>
        <label for="web application"><input type="checkbox" id="web application" name = "access_format"/>Web Application</label>
        <label for="standalone app"><input type="checkbox" id="standalone app" name = "access_format"/>Standalone App</label>
        <label for="programming library"><input type="checkbox" id="programming library" name = "access_format"/>Programming Library </label>
      
      
        <h3>License</h3>
        <label for="open source"><input type="checkbox" id="open source" name = "license_form"/>Open Source</label>
        <label for="commercial"><input type="checkbox" id="commercial" name = "license_form"/>Commercial</label>
        <label for="unknown"><input type="checkbox" id="unknown" name = "license_form"/>Unknown </label>
      
      
      <h3>Input File Formats</h3>
      <label for="notapplicable"><input type="checkbox" id="notapplicable" name = "supported_files"/>None</label>
      <label for="bed"><input type="checkbox" id="bed" name = "supported_files"/>BED</label>
      <label for="fasta"><input type="checkbox" id="fasta" name = "supported_files"/>FASTA </label>
      <label for="sambamcram"><input type="checkbox" id="sambamcram" name = "supported_files"/>SAM/BAM/CRAM </label>
      <label for="vcf"><input type="checkbox" id="vcf" name = "supported_files"/>VCF</label>
      <label for="txttab"><input type="checkbox" id="txttab" name = "supported_files"/>txt/tab </label>
      <label for="other"><input type="checkbox" id="other" name = "supported_files"/>Other</label>
    </div>
  </section>
  <section>
      <h2 onClick="openSection('data_tax', this)">Data Taxonomy</h2>
      <div id="data_tax">
        <h3>Interconnection</h3>
        <label for="no"><input type="checkbox" id="no" name="interconnection_type"/>None</label>
        <label for="within"><input type="checkbox" id="within" name="interconnection_type"/>Within </label>
        <label for="between"><input type="checkbox" id="between" name="interconnection_type"/>Between </label>
      
      
        <h3>Feature Type</h3>
        <label for="segment sparse"><input type="checkbox" id="segment sparse" name="feature_type"/>Segment Sparse</label>
        <label for="segment contiguous"><input type="checkbox" id="segment contiguous" name="feature_type"/>Segment Contiguous</label>
        <label for="point sparse"><input type="checkbox" id="point sparse" name="feature_type"/>Point Sparse</label>
        <label for="point contiguous"><input type="checkbox" id="point contiguous" name="feature_type"/>Point Contiguous</label>
      </div>
    </section>
    <section>
      <h2 onClick="openSection('coord_sys', this)">Coordinate System</h2>
      <div id="coord_sys">
        <h3>Layout</h3>
        <label for="circular"><input type="checkbox" id="circular" name = "layout"/>Circular</label>
        <label for="linear"><input type="checkbox" id="linear" name = "layout"/>Linear</label>
        <label for="spacefilling"><input type="checkbox" id="spacefilling" name = "layout"/>Space Filling</label>
        <label for="spatial"><input type="checkbox" id="spatial" name = "layout"/>Spatial</label>
      
      
        <h3>Partition</h3>
        <label for="contiguous"><input type="checkbox" id="contiguous" name = "partition"/>Contiguous</label>
        <label for="segregated"><input type="checkbox" id="segregated" name = "partition"/>Segregated</label>
      
      
        <h3>Abstraction</h3>
        <label for="noab"><input type="checkbox" id="noab" name = "abstraction"/>None</label>
        <label for="partialab"><input type="checkbox" id="partialab" name = "abstraction"/>Partial</label>
        <label for="completeab"><input type="checkbox" id="completeab" name = "abstraction"/>Complete</label>
      
      
        <h3>Arrangement</h3>
        <label for="linear parallel"><input type="checkbox" id="linear parallel" name = "arrangement"/>Linear Parallel </label>
        <label for="linear serial"><input type="checkbox" id="linear serial" name = "arrangement"/>Linear Serial </label>
        <label for="linear orthogonal"><input type="checkbox" id="linear orthogonal" name = "arrangement"/>Linear Orthogonal </label>
        <label for="circular parallel"><input type="checkbox" id="circular parallel" name = "arrangement"/>Circular Parallel </label>
        <label for="circular serial"><input type="checkbox" id="circular serial" name = "arrangement"/>Circular Serial </label>
      </div>
    </section>
    <section>
      <h2 onClick="openSection('view_conf', this)">View Configurations</h2>
      <div id="view_conf">
        <h3>View</h3>
        <label for="single-view"> <input type="checkbox" id="single-view" name = "view"/>Single </label>
        <label for="multiple-view"><input type="checkbox" id="multiple-view" name = "view"/>Multiple </label>
      
      
        <h3>Scale</h3>
        <label for="single-scale"><input type="checkbox" id="single-scale" name = "scale"/>Single </label>
        <label for="multiple-scale"> <input type="checkbox" id="multiple-scale" name = "scale"/>Multiple </label>
      
      
        <h3>Focus</h3>
        <label for="single-focus"><input type="checkbox" id="single-focus" name = "focus"/>Single </label>
        <label for="multiple-focus"><input type="checkbox" id="multiple-focus" name = "focus"/>Multiple </label>
      </div>
    </section>
  </div>
</div>