// Attributes pages
p.total { cursor:pointer; }

p.total::before {
  content: 'Show';
}
p.total.open::before {
  content: 'Hide';
}
.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.grid-item {
    background: var(--geno-300);
  padding: 0 1rem;
  border-radius: 1rem;

    &:hover {
        box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
    } 

    h4 {
        font-variation-settings: 'CASL' 1, 'CRSV' 1;
    }
}