---
layout: page
title:  Circular
categories: tools
type: layout
---

<kbd><img src = "/assets/circular_example.png" width="200" align = "left">
</kbd> <br><br>

Circular layouts are mainly used (1) if the displayed sequence itself is circular, (2) to display a non-circular sequence in a space-saving way, and (3) to show interactions between different parts of the sequence(s) using a chord diagram.
<br><br><br>

{% for post in site.posts %}
  {% if post.lay == "circular" %}
    <li><a href ="{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
