---
layout: page
title:  Single View
date:   2019-06-12 13:10:25 -0400
categories: tools
type: view
---

<img src = "/assets/Single View.png" width="200" align = "left">
<br><br>

<p align="left">We characterize a view as a set of one or multiple aligned tracks,
with at most one two-axis track. In a single view, we cannot visualize
multiple scales and foci.</p>

<br><br><br>

{% for post in site.posts %}
  {% if post.singlev %}
    <li><a href ="{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
