---
layout: page
title:  Single Scale
date:   2019-06-12 13:10:25 -0400
categories: tools
type: scale
---

<img src = "/assets/Single Scale.png" width="200" align = "left">
<br>
Single scale visualizations display a genome from a single perspective - one size.
However, some single scale visualizations provide a zooming interaction, which allows
the user to expand or shrink the genome view.
<br><br><br><br><br>
{% for post in site.posts %}
  {% if post.singles %}
    <li><a href ="{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
