---
layout: page
title:  Abstraction
categories: attributes
---

<p>A way of reducing the space of a sequence in order to concentrate on specific regions is abstraction. 
  This involves replacing the entire/parts of the sequence by abstraction elements, such as symbols, while 
  maintaining the order of the elements. For example, if we are only interested in exons, the introns can 
  be abstracted to a gap, symbol, or completely filtered out. Therefore, non-adjacent parts of the sequence 
  are next to each other in the visualization. We could not identify a tool applying a complete abstraction 
  in our literature research, which would correspond to replacing both exons and introns with symbols.
</p>
<div>
  <h2 id="None">None</h2>
  <p>No part of the genome are abstracted or removed with the following tools.</p>
  <img src = "{{site.baseurl}}/icons/abstraction_none.png" width="120">
    

{% assign total_no = 0 %}
      {% for post in site.tools %}
        {% for items in post.abstraction %}
          {% if items == "no" %}
          {% assign total_no = total_no | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% endfor %} 
  <p class="total"> {{ total_no }} tools</p>
    <!-- <div class="grid-container" style="display: none;"> -->
    <div class="items" style="display: none;">
      {% for post in site.tools %}
        {% for items in post.abstraction %}
          {% if items == "no" %}
          <div class="grid-item">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <div class="tool_img">
              <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}  
    </div>

</div>

<div>
  <h2 id="Partial">Partial</h2>

    <img src = "{{site.baseurl}}/icons/abstraction_partial.png" width="120">
  
    {% assign total_p = 0 %}
    {% for post in site.tools %}
      {% for items in post.abstraction %}
        {% if items == "partial" %}
        {% assign total_p = total_p | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %}

  <p class="total"> {{ total_p }} tools</p>

  <div class="items" style="display: none;">
    {% assign total_p = 0 %}
    {% for post in site.tools %}
      {% for items in post.abstraction %}
        {% if items == "partial" %}
        {% assign total_p = total_p | plus: 1 %}
        <div class="grid-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class="tool_img">
            <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
          </div>
        </div>    
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
<div>
  <h2 id="Complete">Complete</h1>

    <img src = "{{site.baseurl}}/icons/abstraction_complete.png" width="120">
    {% assign total_c = 0 %}
    {% for post in site.tools %}
      {% for items in post.abstraction %}
        {% if items == "complete" %}
        {% assign total_c = total_c | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    <p class="total"> {{ total_c }} tools</p>
    <div class="items">
      {% for post in site.tools %}
        {% for items in post.abstraction %}
          {% if items == "complete" %}
          <div class="grid-item">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <div class="tool_img">
              <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </div>
</div>
<script src="{{site.baseurl}}/scripts/attributes.js"></script>
