---
layout: page
title:  Focus
categories: attributes
---
<div> <!-- category start -->
  <h2 id="Single Focus">Single Focus</h2>
  <p>A single focus is similar to sliding a window across the
    genome. Only the region in this window can be analyzed.</p>

    <img src = "{{site.baseurl}}/icons/foci_single.png" width="120">
    {% assign total_s = 0 %}
    {% for post in site.tools %}
      {% for items in post.focus %}
        {% if items == "single" %}
          {% assign total_s = total_s | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_s }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.focus %}
        {% if items == "single" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}     
  </div>    
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Multiple Foci">Multiple Foci</h2>
  <p>Multiple foci enable users to look at distinct segments of a genome in parallel
    and compare features that are dispersed across the genome.</p>

    <img src = "{{site.baseurl}}/icons/foci_multiple.png" width="120">
    {% assign total_m = 0 %}
    {% for post in site.tools %}
      {% for items in post.focus %}
        {% if items == "multiple" %}
          {% assign total_m = total_m | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_m }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.focus %}
        {% if items == "multiple" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->
  
<script src="{{site.baseurl}}/scripts/attributes.js"></script>
