---
layout: page
title:  Interconnection
categories: attributes
---
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  grid-gap: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color:black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
</style>
</head>
<div>
  <h1><a id="None"></a>None</h1>
    <img src = "{{site.baseurl}}/assets/NoneInter.png" width="200" align = "left">
    <br><br>

    No interconnections between sequences are displayed in the following.
    <br><br><br><br><br>
    <div class="grid-container">
      {% for post in site.tools %}
        {% if post.interconnection == "none" %}
          <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}">{{post.title}}<img src = "{{site.baseurl}}{{ post.image }}" height="150"></a>
        {% endif %}
      {% endfor %}
    </div>
</div>
<br><br>

<div>
  <h1><a id="Within"></a>Within</h1>
    <img src = "{{site.baseurl}}/assets/WithinInter.png" width="200" align = "left">
    <br>
    An interconnection feature is a link between two regions. Interconnections that connect features within a sequence are classified as “within.”    Interconnections within
    <br><br><br><br><br>
    <div class="grid-container">
      {% for post in site.tools %}
        {% if post.interconnection == "within" %}
          <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}">{{post.title}}<img src = "{{site.baseurl}}{{ post.image }}" height="150"></a>
        {% endif %}
      {% endfor %}
    </div>
</div>
<br><br>

<div>
  <h1><a id="Between"></a>Between</h1>
    <img src = "{{site.baseurl}}/assets/BetweenInter.png" width="200" align = "left">
    <br><br>

    Interconnections that connect features between sequences are classified as “between.”
    <br><br><br><br><br>
    <div class="grid-container">
      {% for post in site.tools %}
        {% if post.interconnection == "between" %}
          <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}">{{post.title}}<img src = "{{site.baseurl}}{{ post.image }}" height="150"></a>
        {% endif %}
      {% endfor %}
    </div>
</div>
<br><br>
