---
layout: page
title:  Interconnection
categories: attributes
---

<div> <!-- category start -->
  <h2 id="None">None</h2>
  <p>The following display no interconnections between sequences.</p>

  <img src = "{{site.baseurl}}/icons/interconnection_between.png" width="120">
    {% assign total_n = 0 %}
    {% for post in site.tools %}
      {% for items in post.interconnection_type %}
        {% if items == "no" %}
          {% assign total_n = total_n | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_n }} tools</p>
  <div class="items"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.interconnection_type %}
        {% if items == "no" %}
        <div class="grid-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class="tool_img">
            <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
          </div>
        </div>      
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Within">Within</h2>
  <p>An interconnection feature is a link between two regions. Interconnections that connect 
    features within a sequence are classified as “within.”
  </p>

  <img src = "{{site.baseurl}}/icons/interconnection_between.png" width="120">
    {% assign total_w = 0 %}
    {% for post in site.tools %}
      {% for items in post.interconnection_type %}
        {% if items == "within" %}
          {% assign total_w = total_w | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_w }} tools</p>
  <div class="items"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.interconnection_type %}
        {% if items == "within" %}
        <div class="grid-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class="tool_img">
            <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
          </div>
        </div>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Between">Between</h2>
  <p>Interconnections that connect features between sequences are classified as “between.”</p>

  <img src = "{{site.baseurl}}/icons/interconnection_between.png" width="120">
    {% assign total_b = 0 %}
    {% for post in site.tools %}
      {% for items in post.interconnection_type %}
        {% if items == "between" %}
          {% assign total_b = total_b | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_b }} tools</p>
  <div class="items"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.interconnection_type %}
        {% if items == "between" %}
        <div class="grid-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class="tool_img">
            <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
          </div>
        </div>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->
  
<script src="{{site.baseurl}}/scripts/attributes.js"></script>
    
