---
layout: page
title:  Partition
categories: attributes
---
Eukaryotic genomes often consist of multiple chromosomes, which are distinct sequences. However, they are often visualized as one contiguous sequence by placing them end-to-end of each other. Some visualizations, especially when comparing genomes, treat chromosomes as separate elements. While different chromosomes are the most common reason to display a sequence in separate parts, one could imagine partitioning a sequence based on other factors too, such as partitioning it in equally sized subsequences to show the entire sequence in multiple rows (similar to space-filling layouts).

<br><br>
<div>
  <h1><a id="Contiguous"></a>Contiguous</h1>

    <img src = "{{site.baseurl}}/assets/c.png" width="200" align = "left">


    {% for post in site.tools %}
      {% if post.partition == "contiguous" %}
        <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
      {% endif %}
    {% endfor %}
</div>
<br><br><br>


<div>
  <h1><a id="Segregated"></a>Segregated</h1>

    <img src = "{{site.baseurl}}/assets/s.png" width="200" align = "left">
    <br>

    <br>
    {% for post in site.tools %}
      {% if post.partition == "segregated" %}
        <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
        {% endif %}
        {% endfor %}
</div>
