---
layout: page
title:  Partition
categories: attributes
---
<p>Eukaryotic genomes often consist of multiple chromosomes, which are distinct sequences. 
  However, they are often visualized as one contiguous sequence by placing them end-to-end of each other. 
  Some visualizations, especially when comparing genomes, treat chromosomes as separate elements. 
  While different chromosomes are the most common reason to display a sequence in separate parts, 
  one could imagine partitioning a sequence based on other factors too, such as partitioning it in 
  equally sized subsequences to show the entire sequence in multiple rows (similar to space-filling layouts).
</p>

<div> <!-- category start -->
  <h2 id="Contiguous">Contiguous</h2>
  <p>Segments of the genome, typically individual chromosomes, are joined together end-to-end.</p>

    <img src = "{{site.baseurl}}/icons/partition_contiguous.png" width="120">
    {% assign total_c = 0 %}
    {% for post in site.tools %}
      {% for items in post.partition %}
        {% if items == "contiguous" %}
          {% assign total_c = total_c | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_c }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.partition %}
        {% if items == "contiguous" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Segregated">Segregated</h2>
  <p>Segments of the genome, typically individual chromosomes, are displayed separately.</p>

    <img src = "{{site.baseurl}}/icons/partition_segregated.png" width="120">
    {% assign total_s = 0 %}
    {% for post in site.tools %}
      {% for items in post.partition %}
        {% if items == "segregated" %}
          {% assign total_s = total_s | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_s }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.partition %}
        {% if items == "segregated" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->
  
<script src="{{site.baseurl}}/scripts/attributes.js"></script>