---
layout: page
title:  Scales
categories: attributes
---

<div>
  <h1><a id="Single Scale"></a>Single Scale</h1>

    <img src = "{{site.baseurl}}/assets/Single Scale.png" width="200" align = "left">
    <br>
    Single scale visualizations display a genome from a single perspective - one size.
    However, some single scale visualizations provide a zooming interaction, which allows
    the user to expand or shrink the genome view.
    <br><br><br><br><br>
    {% for post in site.tools %}
      {% if post.scale == "single" %}
        <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
        {% endif %}
        {% endfor %}
</div>
<br><br>
<div>
  <h1><a id="Multiple Scales"></a>Multiple Scales</h1>
    <img src = "{{site.baseurl}}/assets/Multiple Scale.png" width="200" align = "left">
    <br>
    A multiple scale visualization allows for visualizing data from multiple perspectives/sizes at once.
    This can be useful for something as large as a genome, particularly being able to view
    individual genes as well as the geneome on a whole, as scaling would allow.
    <br><br><br><br><br>
    {% for post in site.tools %}
      {% if post.scale == "multiple" %}
        <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
        {% endif %}
        {% endfor %}
</div>
