---
layout: page
title:  Scales
categories: attributes
---

<div> <!-- category start -->
  <h2 id="Single Scale">Single Scale</h2>
  <p>Single scale visualizations display a genome from a single perspective - one size.
    However, some single scale visualizations provide a zooming interaction, which allows
    the user to expand or shrink the genome view.</p>

    <img src = "{{site.baseurl}}/icons/scale_single.png" width="120">
    {% assign total_s = 0 %}
    {% for post in site.tools %}
      {% for items in post.scale %}
        {% if items == "single" %}
          {% assign total_s = total_s | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_s }} tools</p>
  <div class="items"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.scale %}
        {% if items == "single" %}
        <div class="grid-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class="tool_img">
            <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
          </div>
        </div>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Multiple Scales">Multiple Scales</h2>
  <p>A multiple scale visualization allows for visualizing data from multiple perspectives/sizes at once.
    This can be useful for something as large as a genome, particularly being able to view
    individual genes as well as the genome on a whole, as scaling would allow.</p>

    <img src = "{{site.baseurl}}/icons/scale_multiple.png" width="120">
    {% assign total_m = 0 %}
    {% for post in site.tools %}
      {% for items in post.scale %}
        {% if items == "multiple" %}
          {% assign total_m = total_m | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_m }} tools</p>
  <div class="items"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.scale %}
        {% if items == "multiple" %}
        <div class="grid-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class="tool_img">
            <a href="{{ post.url | relative_url }}"><img src = "{{site.baseurl}}{{ post.image }}" class = "lazyload imag"></a>
          </div>
        </div>       
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->
  
<script src="{{site.baseurl}}/scripts/attributes.js"></script>