---
layout: page
title:  Feature Type
categories: attributes
---
<p>Features can be of different types. Those that only cover one nucleotide are defined 
  as point features while features covering more than one nucleotide are segment features. 
  While there can be gaps between features in sparse sets, contiguous feature sets cover the entire genome.
</p>

<div> <!-- category start -->
  <h2 id="Point Sparse">Point Sparse</h2>

    <img src = "{{site.baseurl}}/icons/pointsparse.png" width="120">
    {% assign total_ps = 0 %}
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "point sparse" %}
          {% assign total_ps = total_ps | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_ps }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "point sparse" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Segment Sparse">Segment Sparse</h2>

    <img src = "{{site.baseurl}}/icons/segmentsparse.png" width="120">
    {% assign total_ss = 0 %}
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "segment sparse" %}
          {% assign total_ss = total_ss | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_ss }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "segment sparse" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Point Contiguous">Point Contiguous</h2>

    <img src = "{{site.baseurl}}/icons/pointcontiguous.png" width="120">
    {% assign total_pc = 0 %}
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "point contiguous" %}
          {% assign total_pc = total_pc | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_pc }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "point contiguous" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->

<div> <!-- category start -->
  <h2 id="Segment Contiguous">Segment Contiguous</h2>

    <img src = "{{site.baseurl}}/icons/segmentcontiguous.png" width="120">
    {% assign total_sc = 0 %}
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "segment contiguous" %}
          {% assign total_sc = total_sc | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  <p class="total"> {{ total_sc }} tools</p>
  <div class="grid-container"  style="display: none;">
    {% for post in site.tools %}
      {% for items in post.feature_type %}
        {% if items == "segment contiguous" %}
        <a class="grid-item" href ="{{site.baseurl}}{{ post.url}}"><h4>{{post.title}}</h4>
          <img  class="lazyload" src="{{site.baseurl}}{{ post.image }}">
        </a>        
        {% endif %}
      {% endfor %}
    {% endfor %}    
  </div>     
</div> <!-- category end -->
  
<script src="{{site.baseurl}}/scripts/attributes.js"></script>