---
layout: page
title:  Views
categories: attributes
---

<div>
  <h1><a id="Single View"></a>Single View</h1>
    <img src = "{{site.baseurl}}/assets/Single View.png" width="200" align = "left">
    <br><br>

    <p align="left">We characterize a view as a set of one or multiple aligned tracks,
  with at most one two-axis track. In a single view, we cannot visualize
  multiple scales and foci.</p>

    <br><br><br>

    {% for post in site.tools %}
      {% if post.view == "single" %}
        <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
        {% endif %}
        {% endfor %}
</div>
<br><br>
<div>
  <h1><a id="Multiple Views"></a>Multiple Views</h1>
    <img src = "{{site.baseurl}}/assets/Multiple View.png" width="200" align = "left">

    <p> Multiple views allow for visualizations with multiple scales and foci.
  Multiple views can be (i) independent, (ii) weakly linked, (iii) medium linked or (iv)
  strongly linked. While independent views are not connected in
  any way, weakly linked views are linked by brushing and linking.
  Medium linked views share navigation, for example two views are
  at different scales, but zooming always affects both. Strongly linked
  views share genomic coordinates at one axis and can also share
  tracks that are aligned to the axis.</p>

    <br>
    {% for post in site.tools %}
      {% if post.view == "multiple"%}
        <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
        {% endif %}
        {% endfor %}
</div>
