---
layout: page
title:  Space-Filling Curve
categories: attributes
type: layout
---

<kbd><img src = "{{site.baseurl}}/assets/spacefilling_example.png" width="200" align = "left">
</kbd> <br>

The space-filling curve is more space efficient than a circular layout and are often used to display a global overview of the genome while maintaining the spatial distribution of features. However, space-filling curves can only show one
feature set, and it's hard to visually estimate the distances between two positions in a sequence.
<br><br><br>


{% for post in site.tools %}
  {% if post.lay == "spacefilling" %}
    <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
