---
layout: page
title:  Multiple Scales
categories: attributes
type: scale
---

<img src = "/assets/Multiple Scale.png" width="200" align = "left">
<br>
A multiple scale visualization allows for visualizing data from multiple perspectives/sizes at once.
This can be useful for something as large as a genome, particularly being able to view
individual genes as well as the geneome on a whole, as scaling would allow.
<br><br><br><br><br>
{% for post in site.tools %}
  {% if post.scale == "multiple" %}
    <li><a href ="{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
