---
layout: page
title:  Single Scale
categories: attributes
type: scale
---

<img src = "{{site.baseurl}}/assets/Single Scale.png" width="200" align = "left">
<br>
Single scale visualizations display a genome from a single perspective - one size.
However, some single scale visualizations provide a zooming interaction, which allows
the user to expand or shrink the genome view.
<br><br><br><br><br>
{% for post in site.tools %}
  {% if post.scale == "single" %}
    <li><a href ="{{site.baseurl}}{{ post.url}}">{{post.title}}</a></li>
  {% endif %}
{% endfor %}
