<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="wrapper">

    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h2><a class = "tab-link" href="{{site.baseurl}}/index.html">Home</a> &emsp;
        <a class="tab-link" href="{{site.baseurl}}/attribute_page">Attributes</a> &emsp;
        <a class = "tab-link" href="{{site.baseurl}}/search_page">Search</a> &emsp;</h2>
        <br>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
