<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <style>
    .indented {
      padding-left: 250pt;
    }
    </style>

    <div class="indented">
      <br>
      <a class = "tab-link" href="{{site.baseurl}}/index.html"><font size="5">Home</font></a> &emsp;
      <a class="tab-link" href="{{site.baseurl}}/attributes"><font size="5">Attributes</font></a> &emsp;
      <a class = "tab-link" href="{{site.baseurl}}/search"><font size="5">Search</font></a> &emsp;
      <br>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
