---
layout: default
---

<html>
  <head>
    <style>
    .column {
      float: left;
      width: 25%;
    }
    </style>
  </head>

<div class="home">
  <div class="row">
    <div class="column">
      <h2>Layout</h2>
      <a href="../tools/2019/06/12/Circular.html"><img src="/assets/circular.png" style="width:120px; height:142.5px" title="Circular" alt="Circular"></a>
      <br><br>
      <a href="../tools/2019/06/12/Linear.html"><img src="/assets/linear.png" style="width:120px; height:142.5px" title="Linear" alt="Linear"></a>
      <br><br>
      <a href="../tools/2019/06/14/Space-Filling.html"><img src="/assets/space.png" style="width:120px; height:142.5px" title="Linear" alt="Linear"></a>
      <br><br>
      <a href="../tools/2019/06/12/Spatial.html"><img src="/assets/spatial.png" style="width:120px; height:142.5px" title="Linear" alt="Linear"></a>
    </div>
    <div class="column">
      <h2>Partition</h2>
      <img src="/assets/Contiguous.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Segregated.png"style="width:120px; height:142.5px" >
    </div>
    <div class="column">
      <h2>Abstraction</h2>
      <img src="/assets/None.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Partial.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Complete.png"style="width:120px; height:142.5px" >
    </div>
    <div class="column">
      <h2>Arrangement</h2>
      <img src="/assets/Linear Parallel.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Linear Serial.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Linear Orthogonal.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Circular Parallel.png"style="width:120px; height:142.5px" >
      <br><br>
      <img src="/assets/Circular Serial.png"style="width:120px; height:142.5px" >
    </div>
  </div>
</div>
</html>
