---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <img src = "{{ page.image }}" width="500"> <br><br>
    <h3>Abstract</h3>
    {{ content }}
    The paper can be found <a href="{{ page.paper }}">here</a>. <br>
    The genome browser can be accessed <a href="{{ page.browser }}">here</a>. <br><br>


    <h3>Attributes</h3>
    {%- if page.lay == "linear" -%}
      <li><a href= "../12/Linear.html">Linear</a></li>
    {%- endif -%}
    {%- if page.lay == "circular" -%}
      <li><a href= "../12/Circular.html">Circular</a></li>
    {%- endif -%}
    {%- if page.lay == "spacefilling" -%}
      <li><a href= "../14/Space-Filling.html">Space Filling</a></li>
    {%- endif -%}
    {%- if page.focus == "single" -%}
      <li><a href= "../12/Single_Focus.html">Single Focus</a></li>
    {%- endif -%}
    {%- if page.focus == "multiple" -%}
      <li><a href= "../12/Multiple_Foci.html">Multiple Foci</a></li>
    {%- endif -%}
    {%- if page.scale == "single" -%}
      <li><a href= "../12/Single_Scale.html">Single Scale</a></li>
    {%- endif -%}
    {%- if page.scale == "multiple" -%}
      <li><a href= "../12/Multiple-Scales.html">Multiple Scales</a></li>
    {%- endif -%}
    {%- if page.view == "single" -%}
      <li><a href= "../12/Single_View.html">Single View</a></li>
    {%- endif -%}
    {%- if page.view == "multiple" -%}
      <li><a href= "../12/Multiple-View.html">Multiple Views</a></li>
    {%- endif -%}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
